
nav.menu {
  background-color: #f4f4f4;
  padding-top: 13px;
}

nav.menu > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav.menu > ul a {
	text-decoration: none;
	color: inherit;
}
